flask
flask-socketio
flask-sock
# gunicorn
gevent
eventlet
# hypercorn
flask_sqlalchemy
cryptography
# fastapi
python-multipart
psycopg2
supabase

# need to install pip install flask-socketio for the communication traffic